doctype html
head
	title CapacitorSet
	// Bootstrap CSS
	link(rel="stylesheet" href="bootstrap.min.css")
	style.
		.well {
			padding-top: 0px;
		}
body.container
	.page-header
		h1
			// Notice the trailing space.
			| @CapacitorSet 
			small Web developer, Node.js enthusiast, esperantisto

	.row
		.col-md-6
			h2 Languages
			.row
				-
					languages = {
						Natural: {
							Italian: "native",
							English: "C1",
							French: "B2",
							German: "B1",
							Esperanto: "?",
							Russian: "A0"
						},
						Programming: {
							"Node.js": "very good",
							"PHP": "good",
							"MySQL": "good",
							"HTML5": "good",
							"Client-side JS": "good",
							"CSS": "mediocre",
							"Bootstrap": "good",
							"Jade": "very good",
							"Markdown": "very good",
							"C": "good",
							"Java": "mediocre",
							"Python": "mediocre",
							"AutoIt": "mediocre"
						}
					}
				each skills,type in languages
					.col-md-6
						table.table.table-striped
							thead: h3=type
							tbody
								each level,language in skills
									tr
										td: b=language
										td=level
		.col-md-6
			h2 My projects
			.well
				h3
					a(href="https://github.com/CapacitorSet/fsm-maker") fsm-maker
				p.
					Creates C implementations of finite state machines from simple JSON descriptions. Features a complete Markdown documentation.
				i.
					Node.js, JSON, C, Markdown
			.well
				h3
					a(href="https://github.com/CapacitorSet/node-scorekeeping") node-scorekeeping
				p.
					An application for managing scores for any number of sports. Supports live data collection, HTTPS, authentication, read-only accounts.
				i.
					Node.js, MySQL, Jade, Bootstrap, HTML5
			.well
				h3
					a(href="https://github.com/CapacitorSet/mysql-json-api") mysql-json-api
				p.
					A simple Node.js wrapper around a MySQL database that exposes an HTTP/S JSON API.
				i.
					Node.js
			.well
				h3
					a(href="https://github.com/CapacitorSet/node-print-server") node-print-server
				p.
					A Web interface for printing documents.
				i.
					Node.js
			.well
				h3
					a(href="https://github.com/CapacitorSet/Asteroids-and-stuff") Asteroids-and-stuff
				p.
					A graphical simulation of a system of asteroids, based on Euler's integrator.
				i.
					Java