doctype html
html(lang='it')
	head
		meta(charset='utf-8')
		title Relazione tecnica
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')
		link(rel='stylesheet', href='css/reveal.css')
		link#theme(rel='stylesheet', href='css/theme/black.css')
		// Code syntax highlighting
		link(rel='stylesheet', href='lib/css/zenburn.css')
		// Printing and PDF exports
		script.
			var link = document.createElement('link');
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName('head')[0].appendChild(link);
		//if lt IE 9
			script(src='lib/js/html5shiv.js')
	body
		.reveal
			// Any section element inside of this container is displayed as a slide
			.slides
				section
					section
						h1 Relazione tecnica
						h3 Studio statistico della temperatura media a Brescia
						p Scorrere verso il basso per cambiare lo stile, o verso destra per visionare la relazione.
					section#transitions
						h2 Transition Styles
						p
							| You can select from different transitions, like: 
							br
							a(href='?transition=none#/transitions') None
							|  -
							a(href='?transition=fade#/transitions') Fade
							|  -
							a(href='?transition=slide#/transitions') Slide
							|  -
							a(href='?transition=convex#/transitions') Convex
							|  -
							a(href='?transition=concave#/transitions') Concave
							|  -
							a(href='?transition=zoom#/transitions') Zoom
					section#themes
						h2 Themes
						p
							| reveal.js comes with a few themes built in: 
							br
							// Hacks to swap themes after the page has loaded. Not flexible and only intended for the reveal.js demo deck.
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/black.css'); return false;") Black (default)
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/white.css'); return false;") White
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/league.css'); return false;") League
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/sky.css'); return false;") Sky
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/beige.css'); return false;") Beige
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/simple.css'); return false;") Simple
							br
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/serif.css'); return false;") Serif
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/blood.css'); return false;") Blood
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/night.css'); return false;") Night
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/moon.css'); return false;") Moon
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/solarized.css'); return false;") Solarized
				section
					h3 Istruzioni per l'uso
					p.
						E' possibile navigare la presentazione usando i tasti freccia, oppure i gesti su dispositivi touch.
					p.
						Le slide vanno da sinistra verso destra.
					hr
					h2 Importante
					p.
						Ad alcune slide sono associate delle schermate di approfondimento, a cui si può accedere <u>scorrendo verso il basso</u>.
				section
					section
						h3 Obiettivo
						dd.
							Si intende studiare la temperatura media stagionale per un appartamento nella città di Brescia.
					section
						h3 Procedimento
						dd
							| A grandi passi, si intende seguire questo procedimento:
							ol
								li Raccolta dei dati;
								li Elaborazione (calcolo della media) per ogni stazione;
								li Interpolazione spaziale;
								li Documentazione.
				section
					section
						h3 Raccolta dati
						p.
							I dati sono stati richiesti tramite la <a href="http://www2.arpalombardia.it/siti/arpalombardia/meteo/richiesta-dati-misurati/Pagine/RichiestaDatiMisurati.aspx">piattaforma Web</a> dell'ARPA Lombardia.
						p.
							Per ottenere la massima precisione si è deciso di raccogliere i dati per le due centraline di Brescia (Pastori e Ziziola) su base suboraria, per minimizzare gli errori di discretizzazione.
					section
						h3 Errori di discretizzazione
						p.
							Si definisce errore di discretizzazione quello dovuto alla conversione di una funzione continua a valori continui \[f:\mathbb R\rightarrow S\] in una discreta a valori discreti \[g:\mathbb N\rightarrow S'\] (con \(S'\) <a href="http://mathworld.wolfram.com/DiscreteSet.html">discreto</a>).
				section
					h3 Problema: interpolazione
					dd.
						Si dispone di dati limitati (i dati non sono disponibili appartamento per appartamento): è quindi necessario fare un'<b>interpolazione</b> nello spazio.
					p.
						Considerato che si dispone solamente di 2 data source con valori molto simili (la differenza tra le medie è circa 0,9 °C), si decide di ignorare questo problema, considerando la temperatura come un campo scalare uniforme ($\nabla T=0$).
				section
					section
						h3 Problema: calcolo della media
						dd.
							Si dispone di circa 100k datapoint, e si vuole determinare un unico valore di temperatura, noto come "media stagionale".
						p.
							Formalmente, date N tuple \[\langle\text{Tempo}\in\mathbb N, \text{Temperatura}\in\mathbb R, \text{Posizione}\in\mathbb R^2\rangle\] si vuole ricavare un campo scalare \[T_{media} = \mathbb R^2\rightarrow\mathbb R\]
					section
						h3 Tipi di media
						p.
							Cerchiamo una funzione che dati N rilevamenti \(x\in\mathbb R\) produca un valore medio \(x'\in\mathbb R\)\[media:\mathbb R^N\rightarrow\mathbb R\]
						p
							| Tradizionalmente, si usano queste medie:
							ul
								li <b>Aritmetica</b>, \(\frac 1n\sum_{i=0}^nx_i\);
								li <b>Armonica</b>, l'inverso della media dei reciproci;
								li <b>Geometrica</b>, \(\sqrt[n]{\prod_{i=0}^nx_i}\).
					section
						h3 Scelta della media
						p.
							Si sa che la media geometrica attribuisce molto più peso ai valori più piccoli: questa è una caratteristica non desiderabile. Lo stesso vale per la media armonica.
						p.
							Scegliamo quindi la media classica (aritmetica):\[media({x_0,x_1,\dots x_n})=\frac 1n\sum_{i=0}^nx_i\]
				section
					section
						h2 Risultati
					section
						h3 Temperatura media stagionale
						table
							thead
								tr
									th Centralina
									th Media aritmetica
							tbody
								tr
									td Pastori
									td 5,9 °C
								tr
									td Ziziola
									td 5,1 °C
								tr
									td: i Media
									td 5,5 °C
						small.
							L'ARPA fornisce rilevamenti a una cifra significativa, pertanto anche i risultati sono a una cifra significativa.
					section
						h3 Boxplot
						img(src="boxplot.png")
					section
						h3 Commento
						p.
							Il box plot mostra che la stazione di rilevamento "Pastori" tende a registrare temperature leggermente più alte, e mostra dati più "sparsi" (lo scarto interquartile è maggiore). Effettivamente, questi dati presentano $\sigma^2=4,577$, mentre quelli rilevati in via Ziziola hanno $\sigma^2=4,121$. 
				section
					section
						h3 Software impiegato
						ul
							li Rappresentazione: MySQL
							li Elaborazione: R
							li Presentazione: Reveal.js
							li Pubblicazione: GitHub Pages
					section
						h3 Rappresentazione: MySQL 5.5
						p.
							I dati sono stati immagazzinati in un database MySQL in 3NF: una tabella mappa gli ID delle centraline ai rispettivi nomi, e un'altra raccoglie i dati nella forma "ID centralina, data, temperatura".
						p.
							Con MySQL si è immagazzinato i dati, li si è filtrati (rimozione valori non validi), e si sono compiute semplici analisi. Si sono poi esportati i dati invernali in CSV.
					section
						h3 Elaborazione: R 3.0
						p.
							I dati sono stati importati in R, che ha consentito di trovare velocemente la media e i boxplot con due semplici comandi: rispettivamente <kbd>mean</kbd> e <kbd>boxplot</kbd>.
						p.
							Per comodità si è usato un frontend grafico per R, Rstudio.
					section
						h3 Presentazione: Reveal.js
						p.
							Questa presentazione è stata scritta in HTML con il framework Reveal.js, che permette di creare flessibilmente presentazioni eleganti in tempi minimi. Inoltre, la rende accessibile a qualsiasi dispositivo dotato di browser: cellulari, tablet, Surface o desktop.
					section
						h3 Pubblicazione: GitHub Pages
						p.
							La presentazione è ospitata tramite GitHub Pages, che fornisce hosting statico gratuito. La presentazione è  gestita tramite un VCS, che permette uno sviluppo molto più completo (commit history, branch, rollback) rispetto ad altre soluzioni.
		script(src='lib/js/head.min.js')
		script(src='js/reveal.js')
		script.
			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				transition: 'slide', // none/fade/slide/convex/concave/zoom
				// Optional reveal.js plugins
				dependencies: [
					{
						src: 'plugin/math/math.js',
						async: true
					},
					{
						src: 'plugin/highlight/highlight.js',
						async: true,
						callback: function() { hljs.initHighlightingOnLoad(); }
					}
				]
			});