doctype html
html(lang='it')
	head
		meta(charset='utf-8')
		title Relazione tecnica
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')
		link(rel='stylesheet', href='css/reveal.css')
		link#theme(rel='stylesheet', href='css/theme/beige.css')
		// Code syntax highlighting
		link(rel='stylesheet', href='lib/css/zenburn.css')
		// Printing and PDF exports
		script.
			var link = document.createElement('link');
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName('head')[0].appendChild(link);
		//if lt IE 9
			script(src='lib/js/html5shiv.js')
	body
		.reveal
			// Any section element inside of this container is displayed as a slide
			.slides
				section
					section
						h1 Relazione tecnica
						h3 Studio statistico della temperatura media a Brescia
						p Scorrere verso il basso per cambiare lo stile, o verso destra per visionare la relazione.
					section#transitions
						h2 Transition Styles
						p
							| You can select from different transitions, like: 
							br
							a(href='?transition=none#/transitions') None
							|  -
							a(href='?transition=fade#/transitions') Fade
							|  -
							a(href='?transition=slide#/transitions') Slide
							|  -
							a(href='?transition=convex#/transitions') Convex
							|  -
							a(href='?transition=concave#/transitions') Concave
							|  -
							a(href='?transition=zoom#/transitions') Zoom
					section#themes
						h2 Themes
						p
							| reveal.js comes with a few themes built in: 
							br
							// Hacks to swap themes after the page has loaded. Not flexible and only intended for the reveal.js demo deck.
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/black.css'); return false;") Black
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/white.css'); return false;") White
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/league.css'); return false;") League
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/sky.css'); return false;") Sky
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/beige.css'); return false;") Beige (default)
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/simple.css'); return false;") Simple
							br
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/serif.css'); return false;") Serif
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/blood.css'); return false;") Blood
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/night.css'); return false;") Night
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/moon.css'); return false;") Moon
							|  -
							a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/solarized.css'); return false;") Solarized
				section
					h3 Istruzioni per l'uso
					p.
						E' possibile navigare la presentazione usando i tasti freccia, oppure i gesti su dispositivi touch.
					p.
						Le slide vanno da sinistra verso destra.
					hr
					h2 Importante
					p.
						Ad alcune slide sono associate delle schermate di approfondimento, a cui si può accedere <u>scorrendo verso il basso</u>.
				section
					p.
						Obiettivo: studiare la <b>temperatura media invernale</b> per un appartamento nella città di Brescia.
					dt Procedimento
					dd
						ol
							li <b>Raccolta</b> dei dati
							li <b>Elaborazione</b> (calcolo della media) per ogni stazione
							li <b>Interpolazione</b>
							li <b>Documentazione</b>
				section
					h3 Descrizione statistica
					table
						tr
							td: b Fenomeno
							td Andamento della temperatura a Brescia
						tr
							td: b Popolazione
							td Misurazioni ARPA per due centraline
						tr
							td: b Unità statistiche
							td Rilevamenti di temperatura
						tr
							td: b Carattere
							td Temperatura
				section
					section
						h3 Raccolta dati
						ul
							li.
								Tramite la <b><a href="http://www2.arpalombardia.it/siti/arpalombardia/meteo/richiesta-dati-misurati/Pagine/RichiestaDatiMisurati.aspx">piattaforma Web</a></b> dell'ARPA Lombardia
							li.
								Per le due centraline di Brescia: <b>Pastori e Ziziola</b>
							li.
								Per ottenere la massima precisione, scelta la base suboraria (rilevamenti ogni 10 minuti): si minimizzano gli <b>errori di discretizzazione</b> (vedi slide sotto)
					section
						h3 Errori di discretizzazione
						p.
							Si definisce errore di discretizzazione quello dovuto alla conversione di una funzione continua a valori continui \[f:\mathbb R\rightarrow S\] in una discreta a valori discreti \[g:\mathbb N\rightarrow S'\] (con \(S'\) <a href="http://mathworld.wolfram.com/DiscreteSet.html">discreto</a>).
				section
					h3 Problema: interpolazione
					ul
						li.
							Si dispone di dati limitati ("discreti"), definiti non ovunque
						li.
							E' quindi necessario fare un'<b>interpolazione</b> nello spazio
					p.
						Considerato che si dispone solamente di 2 data source con valori molto simili (la differenza tra le medie è circa 0,9 °C), si decide di ignorare questo problema, considerando la temperatura come un campo scalare uniforme ($\nabla T=0$).
				section
					section
						h3 Problema: calcolo della media
						ul
							li.
								Si dispone di <b>400&divide;24.000</b> datapoint per ciascun inverno
							li.
								Si vuole determinare un unico valore: la "media invernale"
						p.
							Formalmente, date N tuple \[\langle\text{Tempo}\in\mathbb N, \text{Temperatura}\in\mathbb R, \text{Posizione}\in\mathbb R^2\rangle\] si vuole ricavare un campo scalare \[T_{media} = \mathbb R^2\rightarrow\mathbb R\]
					section
						h3 Tipi di media
						p.
							Cerchiamo una funzione che dati N rilevamenti \(x\in\mathbb R\) produca un valore medio \(x'\in\mathbb R\)\[media:\mathbb R^N\rightarrow\mathbb R\]
						p
							| Tradizionalmente, si usano queste medie:
							ul
								li <b>Aritmetica</b>, \(\frac 1n\sum_{i=0}^nx_i\);
								li <b>Armonica</b>, l'inverso della media dei reciproci;
								li <b>Geometrica</b>, \(\sqrt[n]{\prod_{i=0}^nx_i}\).
					section
						h3 Scelta della media
						ul
							li.
								La media geometrica attribuisce molto più peso ai valori più piccoli
							li.
								Anche la media armonica
							li.
								Caratteristica non desiderabile!
							li.
								Scegliamo quindi la media classica (aritmetica)
						| \[\text{media}({x_0,x_1,\dots x_n})=\frac 1n\sum_{i=0}^nx_i\]
				section
					section
						h2 Risultati inverno 2015
					section
						h3 Temperatura media invernale 2015
						table
							thead
								tr
									th Centralina
									th Media aritmetica
							tbody
								tr
									td Pastori
									td 5,9 °C
								tr
									td Ziziola
									td 5,1 °C
								tr
									td: i Media
									td 5,5 °C
						small.
							L'ARPA fornisce rilevamenti a una cifra significativa, pertanto anche i risultati sono a una cifra significativa.
					section
						h3 Boxplot
						img(src="boxplot.png")
					section
						h3 Commento
						ul
							li.
								Il box plot mostra che "Pastori" tende a registrare temperature leggermente più alte
							li.
								E mostra dati più "sparsi" (<b>maggiore scarto interquartile</b>)
							li.
								Effettivamente, ha <b>deviazione standard</b> maggiore:
								\[
								\sigma^2_\text{Pastori}=4,577\\
								\sigma^2_\text{Ziziola}=4,121
								\] 
				section
					section: h2 Risultati 1995-2016
					section
						h2 Medie invernali
						ul
							li.
								Le medie invernali per ogni centralina per ogni anno sono disponibili <a href="https://gist.github.com/CapacitorSet/6ece0d953b7bb197941da63db40990eb">qua</a> in tabella o in formato CSV (cliccare "Raw")
							li.
								Le medie sono a una cifra significativa, come i dati dell'ARPA
					section
						h2 Boxplot: Pastori
						p Clicca sull'immagine per visualizzarla ad alta risoluzione.
						a(href="img/Pastori.png"): img(src="img/Pastori.png")
					section
						h2 Boxplot: Ziziola
						p Clicca sull'immagine per visualizzarla ad alta risoluzione.
						a(href="img/Ziziola.png"): img(src="img/Ziziola.png")
				section
					section
						h3 Software impiegato
						ul
							li Rappresentazione: MySQL
							li Elaborazione: R
							li Presentazione: Reveal.js
							li Pubblicazione: GitHub Pages
					section
						h3 Rappresentazione: MySQL 5.5
						ul
							li.
								Scopo: <b>rappresentazione intermedia</b>, filtraggio, esportazione in CSV
							li
								| Terza forma normale
								ul
									li ID centralina &rarr; nome centralina
									li ID dato &rarr; ID centralina, data, temperatura
					section
						h3 Elaborazione: R 3.0
						ul
							li.
								Calcolo <b>veloce</b> della media, costruzione veloce di un boxplot
							li.
								Un solo comando
							li.
								Frontend grafico: Rstudio
						pre: code.
							mean(dati) # Calcola la media aritmetica
							boxplot(dati) # Genera un boxplot
							boxplot(dato1, dato2)
					section
						h3 Presentazione: Reveal.js
						ul
							li.
								Questa presentazione è scritta in HTML
							li.
								Framework: Reveal.js
							li.
								Presentazioni eleganti e flessibili, tempi minimi di sviluppo
							li.
								Compatibile con qualsiasi dispositivo con un browser: cellulari, tablet, Surface, desktop
					section
						h3 Pubblicazione: GitHub Pages
						ul
							li.
								La presentazione è ospitata su GitHub Pages
							li.
								Hosting statico gratuito
							li.
								Gestita tramite un VCS (git)
							li.
								Sviluppo molto più completo: commit history, branching, rollback
		script(src='lib/js/head.min.js')
		script(src='js/reveal.js')
		script.
			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				transition: 'slide', // none/fade/slide/convex/concave/zoom
				// Optional reveal.js plugins
				dependencies: [
					{
						src: 'plugin/math/math.js',
						async: true
					},
					{
						src: 'plugin/highlight/highlight.js',
						async: true,
						callback: function() { hljs.initHighlightingOnLoad(); }
					}
				]
			});